// .collapse__about{
//     margin-bottom: 101px;
// }

// .collapse__title{
//     background-color: $pink;
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-wrap: nowrap;
//     padding: 10px 20px;
//     border-radius: 10px;
//     i{
//         transition: 0.4s ease-in-out;
//     }
//     cursor: pointer;
//     h2 {
//         margin: 0;
//     }
//     @media (max-width: 768px){
//         margin: 44px 0px 30px 0px;      
//     }
// }  

// .collapse__title--active {
//     i {
//         transform: rotate(-180deg);
//     }
// }

// .collapse__content{
//     // border-radius: 10px;
//     // background-color: #f7f7f7;
//     color: $pink;
//     z-index: -1;
    // transform: scaleY(0);
    // transform-origin: top left;
    // overflow: hidden;
    // transition: 250ms;
//     p {
//         margin: 0;
//     }
//     @media (max-width: 768px){
//         margin-left: 0px;
//         margin-right: 0px;      
//     } 
// }

// .collapse__content--active {
//     transform: scaleY(100%);
// }

// .collapse__content-description{
//     background-color: #f7f7f7;
//     padding: 20px;
//     padding-top: 25px;
//     border-radius: 10px;
//     overflow: hidden;
//     margin-top: -5px;
// }

.collapse__about{
    margin-bottom: 91px;
    padding: 0 31px;
    @media (max-width: 768px) {
        
        margin-bottom: 129px;
        padding: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
       
    }
}

.collapse {
	width: 100%;
	margin: 20px 0;

	@media screen and (min-width: 768px) {
		margin: 31px auto 0;
	}

	&__title {
		background: $primary-color;
		color: $tertiary-color;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		padding: 7px 15px;
		border-radius: 5px;
		width: 100%;
        font-size: x-large;
        position: relative;
        // i
		img{
            transition: 0.4s ease-in-out;
			
        }    

		@media(max-width: 768px) {
			height: 47px;
		}

		h2 {
			@include font(24px, 900);

			@media screen and (min-width: 768px) {
				
			}
		}
	}

	&__content {
		color: $primary-color;
		background: #f7f7f7;
		border-radius: 5px;
        margin-top: -3px;
		overflow: hidden;
		max-height: 0;
		transition: max-height 500ms;
		// transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;

		p {
			margin: 0;
			padding: 22px 15px;
			pointer-events: none;
            font-size: 18px;
            font-weight: 600;
			

			@media screen and (min-width: 768px) {
				
			}
		}
	}
}

.collapse__content-description {
	opacity: 1;
	transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}


.collapse__title--active {
    // i 
	img{
        transform: rotate(-180deg);
    }
}

.collapse__content--active {
    max-height: 500px;
}
// .chevron {
// 	width: 9px;
// 	transform: rotate(0deg);
// 	transition: 0.4s 0.4s ease-in-out;

// 	@media screen and (min-width: 768px) {
// 		width: 15px;
// 	}
// }

// i{
// 	transform: rotate(180deg);
// 	transition: 0.4s ease-in-out;
// }

// .about-style {
// 	width: 100%;
	

// 	@media screen and (min-width: 768px) {
// 		width: 87.5%;
// 	}
// }

// .collapse-fiche-container {
// 	width: 100%;

// 	@media screen and (min-width: 768px) {
// 		flex-direction: row;
// 		gap: 6%;
// 	}
// }

// .equipList {
// 	list-style-type: none;
// }

