.errorPage{
    text-align: center;
    color: $primary-color;
    
}

.errorNumber{
    font-size: 288px;
    font-weight: bold;
    height: 0px;
    line-height: 0px;
}

.errorText{
    font-size: xx-large;
    font-weight: 700;
}

.errorLink{
    color: $primary-color;
    font-weight: 700;
    border-bottom: 2px solid $primary-color;
    line-height: 5;
}