.rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
     
   & img{
        object-fit: cover;
        @media (max-width: 768px) {
            width: 13px;
           height: 13px;
        }
    
    }


    @media (max-width: 768px) {
        gap: 7px;
    }
}

.rate-container {
    display: flex;
    align-items: flex-start;
}

.etoile--active {

    @media (max-width: 768px) {
        width: 30px;
        height: 30px;
    }
}