.tags{
    color: $primary-color;
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-size: .9rem;
    line-height: 25px;
    padding: 0 10px;

}

.tags-container{

    &__infos{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 18px 0;
    }
}

