.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 15px;
    color: $primary-color;
        .header__logo {
        object-fit: cover;

        img {
            object-fit: cover; 
            width: 150px;
            }
           
        }

           .header__navbar {
                display: flex;
                gap: 30px;
                font-size: 15px;
                font-weight: 900;
                .linkActive {
                    text-decoration: underline;
                }
                a {
                 color: $primary-color;
                //  border-bottom: 2px solid $primary-color;
                 white-space: nowrap;
                 &:hover{
                    text-decoration: underline;
                    // border-bottom: 2px solid $primary-color;
                }

                }

                .active2{
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                    &:hover{
                        text-decoration: underline;
                        // border-bottom: 2px solid $primary-color;
                    }
                }
                @media screen and (max-width: 384px) {
                    gap: 7px;
                    font-size: 11px;
                  }
                
            }
       
        @media (max-width: 768px){
            .header__logo{ 
            img{
              width: 130px;
            }
        }

            .header__navbar{ 
            gap: 15px;
            font-size: 15px;
           }
        }   
    }